<h1>Job Resources </h1>
<br>

<table id="myTable">
  <tr class="header">
    <th style="width:60%;">Name</th>
    <th style="width:40%;">Website</th>
  </tr>
  <tr>
  <td data-label="Name">IT Job Board UK</td>
  <td data-label="URL"><a href="https://www.itjobboard.co.uk/">Link 1</a></td>
</tr>
<tr>
  <td data-label="Name">Jobrapido</td>
  <td data-label="URL"><a href="https://ie.jobrapido.com/Tech-Jobs-jobs?r=auto&utm_source=yahoo&utm_medium=cpc&utm_campaign=IE_JOB_SEARCH&r=auto&utm_agid=759531051&utm_kwid=kwd-12038929075:loc-92&ext=&int=&phy=142381&mt=p&dev=c&network=o&msclkid=d83047a70e07178c6b1122ddd2de660b&utm_source=bing&utm_medium=cpc&utm_campaign=IE_JOB_SEARCH&utm_term=tech%20jobs&utm_content=15001-20000">Link 2</a></td>
</tr>
<tr>
  <td data-label="Name">Linkedin</td>
  <td data-label="URL"><a href="https://uk.linkedin.com/jobs/tech-jobs?position=1&pageNum=0">Link 3</a></td>
</tr>
<tr>
  <td data-label="Name">Glassdoor</td>
  <td data-label="URL"><a href="https://www.glassdoor.co.uk/blog/highest-paying-jobs-tech/">Link 4</a></td>
</tr>
<tr>
  <td data-label="Name">LLOYDS Banking Group</td>
  <td data-label="URL"><a href="https://www.lloydsbankinggroup.com/careers/roles-and-departments/tech-and-transformation.html?utm_medium=cpc&utm_source=microsoftsearch&utm_campaign=lbg-ppc-apr23&utm_content=conversion&utm_term=remarketing&msclkid=5ce612b40ec21162f5cc77ced3b50705">Link 5</a></td>
</tr>
</table>

<br>
<br>
<br>
<br>

  <%= link_to "Back to Jobs Board", jobs_path %>
